<p>
  dragscroll works!
</p>

<div dragScroll>
  Big text goes here.............................................................................................................................................................................................................................................................................................................................................................................................................I am gone
</div>


<div class="row">
<div class="col-lg-6" >
  <div dragScroll
       drag-scroll-y-disabled="true"
       scrollbar-hidden="true" >
<img *ngFor="let image of imagelist" [src]="'assets/' + image" (click)="clickItem(image)"/>
  </div>
</div>
  </div>
<hr>
<br>
<br>
